<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362379143800-6kh0llkgqkotclj4qjrdp4nvildbdccs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362379143800-6kh0llkgqkotclj4qjrdp4nvildbdccs</string>
	<key>API_KEY</key>
	<string>AIzaSyDVQwNtSgbYIO6yPSejZkzTerZJS9AcSo0</string>
	<key>GCM_SENDER_ID</key>
	<string>362379143800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hospitalManagement</string>
	<key>PROJECT_ID</key>
	<string>hospital-management-214b8</string>
	<key>STORAGE_BUCKET</key>
	<string>hospital-management-214b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362379143800:ios:af056ddb27cb43e0ae5b8d</string>
</dict>
</plist>